/* src/app/shop/page.module.css */

.shopPage {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.shopHeader {
  margin-bottom: 20px;
}

.shopContent {
  display: flex;
  justify-content: center;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 80%;
}

.productPlaceholder {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  /* background: #f9f9f9; */
}

.productPlaceholder span {
  display: block;
  color: #888;
  margin-top: 10px;
}
